<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Ingresar Estudiante</title>
<link rel = "stylesheet"  type = "text/css"   href = "index.css" />


</head>
	<body>
	
	
	
		<form th:action="@{/save}" th:object="${estudiante}" method="post">
					
				  
		  		<div class="form-group">
		   			 <label for="formGroupExampleInput2">Nombre</label>
		   			 <input class="form-control" type="text" th:field="*{Nombre}" id="formGroupExampleInput2" placeholder="Nombres del Estudiante">
		   			 <span th:errors="*{Nombre}" style="color:red"></span>
		  		</div>
		  		<div class="form-group">
		   			 <label for="formGroupExampleInput2">Apellido</label>
		   			 <input class="form-control" type="text" th:field="*{Apellido}" id="formGroupExampleInput2" placeholder="Apellidos del Estudiante">
		   			 <span th:errors="*{Apellido}" style="color:red"></span>
		  		</div>
		  		<div class="form-group">
		   			 <label for="formGroupExampleInput2">Carnet</label>
		   			 <input class="form-control" type="text" th:field="*{Carnet}" id="formGroupExampleInput2" placeholder="Carnet del Estudiante">
		   			 <span th:errors="*{Carnet}" style="color:red"></span>
		   			 
		  		</div>
		  		<div class="form-group">
		   			 <label for="formGroupExampleInput2">Carrera</label>
		   			 <input class="form-control" type="text" th:field="*{Carrera}" id="formGroupExampleInput2" placeholder="Carrera del Estudiante">
		   			 <span th:errors="*{Carrera}" style="color:red"></span>
		   			 
		  		</div>
				<button type="submit" class="btn btn-primary">Agregar</button>
				<button class="btn btn-primary" style="background-color:green;"><a href='/listado' style="color:white;">Ver Listado</a></button>
				
	
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
			
	
	</body>
</html>